<header class="text-center">
  <h1>Bienvenido a Taller de Motos Reinaldo</h1>
  <nav>
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a routerLink="/" routerLinkActive="active" class="nav-link">Inicio</a>
      </li>
      <li class="nav-item">
        <a routerLink="/productos" routerLinkActive="active" class="nav-link">Productos</a>
      </li>
      <li class="nav-item">
        <a routerLink="/crear-producto" routerLinkActive="active" class="nav-link">Crear Producto</a>
      </li>
    </ul>
  </nav>
</header>

<!-- El contenido de las rutas se inyectará aquí -->
<router-outlet></router-outlet>

<footer class="text-center mt-4">
  <p>© 2025 Taller de Motos. Todos los derechos reservados.</p>
</footer>
