<header>
  <h1>Bienvenido a Taller de Motos</h1>
  <nav>
    <ul>
      <!-- Enlaces de navegación utilizando routerLink -->
      <li><a routerLink="/" routerLinkActive="active">Inicio</a></li>
      <li><a routerLink="/productos" routerLinkActive="active">Productos</a></li>
      <li><a routerLink="/crear-producto" routerLinkActive="active">Crear Producto</a></li> <!-- Nuevo enlace para Crear Producto -->
    </ul>
  </nav>
</header>

<!-- Aquí se renderizan los componentes según las rutas -->
<router-outlet></router-outlet>

<footer>
  <p>© 2025 Taller de Motos. Todos los derechos reservados.</p>
</footer>
